# Local development environment files
local
.vscode

# This was a local file, that shouldn't be built by the repo. But I used it as a note thing
# - Cassitly
output.txt

# Python files
__pycache__
.venv

# Nodejs files
node_modules
# package-lock.json is not here, because we want to lock the package caches

# C++ compiled files
launch-applications.exe
launch-applications.obj

# Websocket Server output
screenshots